html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-flow: column;
    border-width: 10px;
    border-style: solid;
    border-radius: 12px;
    width: 480px;
    height: 480px;
}

#displayContainer {
    height: 80px;
    background-color: grey;
    font-size: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btnRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 80px;
}

.btn,
.btn2 {
    font-size: 40px;
}

.function,
.equals {
    background-color: orange;
}

.clear,
.backspace {
    background-color: royalblue;
    color: white;
}

.clear {    
    grid-column-start: 1;
    grid-column-end: 3;
}

.backspace {
    grid-column-start: 3;
    grid-column-end: 5;
}