/*
.displayContainer {
    height: 48px;
}

.btnContainer {
    height: 480px;
    width: 480px;
    display: flex;
    justify-content: space-evenly;
}

.columnContainer {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    margin: 5px;
    border-style: solid;
    border-width: 5px;
}
*/

#container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

#displayContainer {
    height: 48px;
    background-color: grey;
    font-size: 48px;
}

.btn {
    height: 48px;
    width: 48px;
}